*{
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

#container .ql-editor{
    width: 8.5in;
    min-height: 10in;
    margin: 1rem  auto;
    padding: 1in;
    box-shadow: 0 0 6px 0 rgb(193, 193, 193);
    background-color: white;
}
#container .ql-editor p{
background-color: white;
}

#container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 6px 0 rgb(193, 193, 193);
    background-color: #ffffff;
}


.toast-container{
    position: absolute;
    bottom: 20px;
    left: 20px;
border: 1px solid green;
height: 40px;
width: 270px;
display: flex;
align-items: center;
border-radius: 5px;
box-shadow: 0 0 2px 2px rgb(209, 209, 209);
}

.toast-container span{
    padding: 0 10px;
}

.toast-container::after{
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: green;
    animation: slideOut 5s linear forwards;
}

@keyframes slideOut{
    100%{
        width: 0;
    }
}