* {
    box-sizing: border-box;
    background-color: white
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 42vw;
    padding: 20px;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #048ece, #c23c03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    /* color: ; */
}

.field-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 32vw;
    min-width: 230px;
    width: 100%;
    margin: 5px 3px;
    position: relative;
}

.field-container span {
    color: red;
    font-size: 14px;
    padding: 5px;
    display: none;
}

input:invalid~span {
    display: block;
}

.icon {
    position: absolute;
    top: 48%;
    left: 15px;
    height: 12px;
    color: #8a8a8a;
}

#text-input {
    border: 2px solid rgb(226, 226, 226);
    outline: none;
    border-radius: 10px;
    height: 37px;
    margin: 5px;
    padding-left: 30px;
}

.row-fields {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 10px;
    max-width: 50vw;
    padding: 30px 15px;
    box-shadow: 0 0 10px 2px rgb(240, 240, 240);
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-btn {
    outline: none;
    border: none;
    padding: 12px 35px;
    max-width: 260px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(127, 245, 178);
    /* position: absolute; */
    /* left: 35%; */
    margin: 30px 0;
}

.checkbox {
    margin: 6px 0;
}

.checkbox input {
    height: 17px;
    width: 17px;
    margin-right: 5px;
}

.divder {
    /* position: relative; */
}

.divder::before,
.divder::after {
    content: "";
    height: 1px;
    width: 20%;
    /* position: absolute;
    top: 60%; */
    background-color: rgb(164, 164, 164);
}

.divider span {
    /* position: absolute; */
    /* top: 85%; */
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4285F4;
    height: 37px;
    border-radius: 5px;
    margin: 0 0 30px 0;
}

.google-btn button {
    border: none;
    outline: none;
    padding: 10px 30px;
    color: white;
    font-size: 15px;
    background-color: transparent;
}

.login-link span {
    color: rgb(16, 150, 16);
    font-weight: 600;
    text-decoration: underline;
}